@font-face {
    font-family: "Foldit-VariableFont_wght";
    src: url(./Foldit-VariableFont_wght.ttf);
}

body {
    font-size: clamp(1rem + 0.75rem + 1vw + 5rem);
    font-display: swap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 242, 226);
}

h2 {
    font-family: "Foldit-VariableFont_wght", 'Times New Roman', Times, serif;
    font-size: 5rem;
    margin: 0px;
}

p {
    font-size: 1.4rem;
    margin: 0px;
}

.content {
    border-radius: 15px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55rem
}

button, input {
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 5px;
}

button:hover {
    background-color: yellow;
}

input[type="text"] {
    text-align: center;
    font-size: 1.2rem;
}
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    border: 5px solid black;
    width: 650px;
    height: 650px;
    margin: 4px;
    background-color: white;
}

#container>div {
    height: auto;
    flex: 1 0 auto;
  
    /* make columns vertical flexboxes */
    display: flex;
    flex-direction: column;
}
  
#container>div>* {
    /* make rows evenly distributed */
    flex: 1;
}





